@font-face {
  font-family: BebasNeue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: BebasNeue, "sans-serif";
}

/* big image styling */
.big-image {
  width: 100%;
  height: 600px;
}
.big-img {
  background-image: url(./images/BannerSpring_UC-scaled.jpg);
  width: 100%;
  height: 728px;
  background-size: contain;
}
.img-text {
  position: absolute;
  font-size: 100px;
  line-height: 70pt;
  width: 300px;
  bottom: 300px;
  left: 240px;
}
#green-text {
  color: #80897c;
}
#brown-text {
  color: #bc946c;
}
