@font-face {
  font-family: BebasNeue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* navbar styling */
.navbar {
  position: sticky;
  font-size: 20px;
  background-image: url(./images/menuBanner.jpg);
  background-size: cover;
  width: 100%;
  height: 95px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-y: hidden;
}

.logo {
  position: absolute;
  background-image: url(./images/UptownCheapskate_Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 100px;
  top: 40px;
  left: 240px;
}
.logo.scam {
  background-image: url(./images/scam.png);
  left: 375px;
  width: 180px;
  height: 80px;
  top: 12px;
}

.socials {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3px;
  left: 1330px;
}
.social1,
.social2,
.social3 {
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 8px;
}
.social1 {
  background-image: url(./images/facebook.png);
}
.social2 {
  background-image: url(./images/insta.png);
}
.social3 {
  background-image: url(./images/twitter.png);
}

.navbar ul {
  position: relative;
  top: 35px;
  left: 580px;
  list-style-type: none;
}

.navbar li {
  float: left;
  padding: 16px;
}

/* big image styling */
.big-image {
  width: 100%;
  height: 750px;
  overflow-y: hidden;
}
.big-img {
  background-image: url(./images/BannerSpring_UC-scaled.jpg);
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position-x: -50px;
  background-position-y: -100px;
  background-repeat: no-repeat;
}
.img-text {
  font-family: BebasNeue, "sans-serif";
  position: absolute;
  font-size: 100px;
  line-height: 70pt;
  width: 300px;
  bottom: 300px;
  left: 240px;
}
#green-text,
#brown-text {
  overflow-y: hidden;
}
#green-text {
  color: #80897c;
}
#brown-text {
  color: #bc946c;
}
